body {
  margin: 0;
  overflow-y: hidden;
}

/* grid */

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100svh;
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.div5 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 60px;
}

/* main picture */
  
  #img_container {
    width: 100%;
    height: 100%;
  }
  
  #img_container img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  

/* navigation buttons */

.nav_button {
  width: 80px;
  height: auto;
  border: none;
  background: none;
  cursor: pointer;
}

.nav_button:hover {
  filter: drop-shadow(0 0 15px rgb(255, 230, 0));
}

.img_slider img,
.previous img,
.next img {
  width: 100%;
}

/* search menu */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  background-color: rgba(0, 0, 0, 0.216);
  color: white;
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 180px;
  text-align: center;
}

.submit {
  background-color: rgba(255, 185, 23, 0.924);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(255, 215, 120, 0.924);
}

@media only screen and (max-width: 600px) {
  .div5 {
    margin-bottom: 30px;
  }
}
